.filter
{
    display: flex;
    justify-content: flex-end;
}
.filter label
{
    font-size: 18px;
    font-weight: 600;
    color: gray;
    padding: 0px 15px;
}
.filter select
{
    min-width: 100px;
    font-size: 16px;
    margin: 0px 5px;
}