.navbar
{
    min-height: 100vh;
    background-color: #38354B;
    display: block;
    text-decoration: none;
    position: fixed;
    width: 14%;
}
.logo>img
{
    display: block;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
}
.admin-info
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin-top: -30px;
}
.admin-info .admin-icon
{
    color: white;
    font-size: 60px;
    margin: 0;
    padding: 0;
}
.admin-info .admin-details
{
    display: flex;
    flex-direction: column;
}
.admin-info .admin-details h4
{
    font-size: 18px;
    padding-top: 40px;
    color: white;
}
.admin-info .admin-details p
{
    font-size: 12px;
    color: rgb(145, 145, 145);
    text-align: left;
    padding: 0;
}
.partition
{
    color: white;
    padding: 0px 0px;
    margin: 5px 0px;
}
.navbar .link
{
    text-decoration: none;
}
.unclick
{
    display: flex;
    font-size: 18px;
    color: #7D90B2;
    margin: 20px 0px;
    padding: 0px 5px;
}
.link-icon
{
    font-size: 22px;
    padding-top: 5px;
}
.navbar .link .unclick:hover
{
    text-decoration: none;
    border-bottom: 1px solid gray ;
    color: white;
    transition: 0.7s all;
}
.navbar .link .click
{
    color: white;
    border-bottom: 1px solid gray ;
    display: flex;
    font-size: 18px;
    margin: 20px 0px;
    padding: 0px 5px;
    font-weight: 600;
}
/* logout button */
.logout
{
    color: #7D90B2;
    border-radius: 5px;
    width: 12%;
    font-weight: 700;
    position: fixed;
    bottom: 0;
    margin-left: 1%;
    margin-bottom: 10px;
    padding: 10px 25px;
    outline: none;
    border: none;
    background-color: white;
    box-shadow: 1px 2px 3px 1px rgba(128, 128, 128, 0.452);
}