.user-management
{
    padding: 10px 0px;
    margin-left: -35px;
}
.head
{
    display: flex;
    justify-content: space-between;
}
.head input
{
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    font-size: 15px;
    color: gray;
    padding: 0px 10px;
}
.head button
{
    padding: 0px 15px;
    margin: 0px 10px;
    height: 30px;
}
table
{
    text-align: left;
    text-decoration: none;
    width: 100%;
    margin: 10px 0px ;
    padding: 20px;
    background: #EEEFF9;
}
table .table-head
{
    background-color: rgb(46, 45, 88);
    color: white;
    text-align: left;
}
table .table-head>tr>th
{
    color: white;
    padding: 12px 0px;
}
table .table-head>tr>.srno
{
    text-align: center;
}
table .table-row:hover
{
    box-shadow: 0px 4px 4px rgba(113, 113, 113, 0.25);
    background-color: rgba(28, 27, 59, 0.267);
    border-radius: 18px;
}

table .table-row
{
    display: table-row;
    text-decoration: none;
    color: gray;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}
table .table-row td
{

    padding: 10px 0px;
    margin: 10px 0px ;
}
table .table-row .srno
{
    text-align: center;
}